<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="titulo">Informacion de contacto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let con of contacto">
    <img src="/assets/images/oficios.jpg">
    <p class="mt-4 subtitle">Nombre: {{con.nombre}}</p>
    <p class="mt-4 subtitle">Celular: {{con.celular}}</p>
  </ion-card>
</ion-content>
