<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="titulo">Descripcion del servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let servidor of servidores">
    <img src="/assets/images/oficios.jpg">
    <p class="mt-4 title">{{servidor.descripcion}}</p>
    <p class="mt-4 subtitle">Trabajador: {{servidor.nombre}}</p>
    <p class="mt-4 subtitle">Trabajos realizados: 0</p>
    <p class="mt-4 subtitle">Puntuacion: {{servidor.puntuacion}}</p>
    <ion-button class="top20 container-fluid boton mb-5 mt-4" color="secondary" [routerLink]="['/contacto', servidor.id_servidores]" >Contactar</ion-button>
  </ion-card>
</ion-content>
